.error {
	color: red;
	margin-bottom: 0;
}

#deleteBtn {
	margin-bottom: 5px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
	color: #333333;
	font-size: 15px;
	line-height: 2;
}

p, h1, h2, h3, h4, h5 {
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 100%;

}

.contents {
	width: 80%;

	margin: 0 auto;
}


#home .sidebar{
	width: 300px;
	height: 500px;
}

#user-management .sidebar{
	width: 300px;
	height: 450px;
}

.sidebar {
	float: left;
	background-color: #ffffff;
	width: 300px;
	height: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	border: 2px solid #888888;
	border-radius: 5px;

}

.sidebar .global-nav {
	margin-left: 20px;
}

.sidebar .global-nav h2 {
	margin-left: 15px;
}

.global-nav li {
	margin: 0 15px;
	font-size: 20px;
	list-style: none;
	line-height: 2;
}

 a {
	color: #3583aa;
	text-decoration: none;
}


a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

#sorting {
	margin: 50px 0 0 20px;
}

#sorting .term {
	margin: 5px 0;
}

#sorting .term input{
	margin-left: 15px;
	height: 25px;
}

#sorting .term #category {
	height: 25px;
}

#sorting category {
	margin-bottom: 5px;
}

#sorting .btn {
	margin-left: 30px;

}

.main-center {
	width: 960px;
	height: 602px;
}

.main-contents {

	width: 600px;
	margin-left: 350px;
	margin-top: 30px;
	word-wrap: break-word;
	padding-bottom: 150px;

}

#login .errorMessages {
	text-align: center;
	color: red;
	font-size: 15px;
}

.errorMessages li {
	list-style: none;
	color: red;
	font-size: 15px;
}

#login-form{
	background-color: white;
	border: 2px solid #888888;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 400px;
	height: 300px;
	margin: auto auto;
	position: absolute;
	top: 100px;
	left: 470px;
}

#login .footer{
	margin-top: 30px;
}

#user-management .aBtn {
	display: block;
	height: 30px;
	width: 80px;
	color: #ffffff;
	background-color: #0696bb;
	border: 2px solid #0696bb;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#user-management .aBtn:hover{
	background-color: #ffffff;
	color: #0696bb;
	cursor: pointer;
	text-decoration: none
}



#login-form .login-id #login-id, #login-form .password #password {
	margin-left: 10px;
	height: 25px;
}

#login-form .login-id {
	position: absolute;
	bottom: 160px;
	left: 76px
}

#login-form .password {
	position: absolute;
	bottom: 100px;
	left: 80px;
}

#login-form .btn{
	position: absolute;
	bottom: 30px;
	left: 180px;
}

form .btn {
	margin-top: 20px;
	width: 80px;
	height: 40px;
	font-size: 16px;
	color: #ffffff;
	background-color: #0696bb;
	border: 2px solid #0696bb;
	border-radius: 3px;
}

form .btn:hover {
	background-color: #ffffff;
	color: #0696bb;
	cursor: pointer;
}

.longBtn {
	margin: 10px 0 30px;
	/* margin-top: 10px; */
	font-size: 16px;
	color: #ffffff;
	background-color: #0696bb;
	border: 2px solid #0696bb;
	border-radius: 3px;
}

.longBtn:hover {
	background-color: #ffffff;
	color: #0696bb;
	cursor: pointer;
}




.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#new-messages input, #user-setting input, #signup input{
	height: 25px;
}

#new-messages .footer {
	margin-top: 120px;
}

#new-messages .btn, #user-setting .btn {
	height: 40px;
}

#user-setting li {
	list-style: none;
}

#user-setting .footer {
	margin-top: 110px;
}

#signup .footer {
	margin-top: 200px;
}

.icon:before {
  content: "";
  border-left: 7px solid #008b8b;
  padding-right: 8px;
}

li {
	list-style: none;
}

table, tr, td, th {
	border: 1px solid #000000;
	text-align: center;
	vertical-align: middle;
	border-spacing: none;
	border-collapse: collapse;
}

.is-stopped {
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	display: block;
}

#setting-form input, #signup input {
	width: 400px;
}

#setting-form .btn, #signup .btn {
	width: 100px;
	height: 40px;
}

#setting-form select, #signup select {
	width: 400px;
	height: 30px;
}

strong {
    font-size: 25px;
    font-style: italic;
}

#home .main-contents{
	font-size: 19px;
	margin-left: 35%;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	height: 30px;
}

.footer small {
	font-size: 12px;
	text-align: center;
}

#home hr {
	color: #00ff00;
}

#user-management .stopped-user {
    background-color: #F6CEEC;
    opacity: 0.8;
    color: black;
}

#user-management table{
	background-color: #dddddd;
}

input#signupBtn:disabled, input#settingBtn:disabled, input#newMessageBtn:disabled, input#commentBtn:disabled, input#loginBtn:disabled {
    background: #666666;
    color: #ffffff;
    border: 2px solid #666666;
    cursor: default;
}

#resetBtn {
	margin-left: 20px;
	display: block;
	width: 80px;
	height: 36px;
	position: relative;
	bottom: 60px;
	left: 120px;
	text-align: center;
	vertical-align: middle;

}

#resetBtn:hover {
	text-decoration: none;
}

#message-form label, #signup-form label, #setting-form label {
	border-left: 4px solid #008b8b;
	border-bottom: 1px solid #008b8b;
	width: 100%;
	padding-left: 5px;
}


.category input {
    margin-left: 13px;
}

span.tooltip {
	line-height: 1.5;
	color: white;
	width: 200px;
	opacity: 0.7;
    background-color: #01A9DB;
	border: 2px solid white;
	padding: 1em;
	font-size: small;
	border-radius: 5px;
}

div.messageArea {
	background-color: #D8CEF6;
	width: 100%;
	padding: 0 50px;
	border: 5px solid #D8CEF6;
	border-radius: 7px;
	margin-bottom: 15px;
	/* position: relative;
	left: -40px; */
}

#welcome {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	color: black;
	font-size: 16px;
}

#home .main-contents {
	padding-top: 2%;
}

.commentArea {
	padding: 10px 20px;
	background-color: #E0E0F8;
}

table{
	width: 700px;
}

table tr{
	height: 125px;
}

.paging{
	text-align: center;
	display: block;
	position: relative;
	left: 60px;
	font-size: 20px;

}
.paging a:hover{
	color: white;
	text-decoration: none;
}

select#column {
    margin-left: 15px;
    width: 180px;
    height: 25px;
}

select#order {
    margin-left: 15px;
    width: 180px;
    height: 25px;
}

#user-management .sidebar .btn{
	width: 130px;
	margin-left: 60px;
}

#home span#numMessages {
    /* text-align: right; */
    /* float: right; */
    position: relative;
    right: -350px;
}